<div class="row">
  <div class="col-xs-12">
    <h2>Posts</h2>
    <div class="list-group">
        <ul class="list-group"
        *ngFor="let post of posts; let i = index">
            <li [ngClass]="{'list-group-item': true,  
                'list-group-item-success': getloveIts (post) > 0,
                'list-group-item-danger': getloveIts (post) < 0}">
		      <div style="float:left">
		          <h4 [ngStyle]="{color: getColor(post)}" style="display: inline">{{ post.title }}</h4>
		      </div>
            &nbsp;&nbsp;
              <div style="float:right">
                 <h6 style="display:inline">{{ post.createdat }}</h6>
              </div>
		      <div style="clear:both">
			     <p [ngStyle]="{color: getColor(post)}">{{ post.content }}</p>
		      </div>
		      <div>
                <div style="float:left" class="btn-group btn-group-xs" role="group">
		              <button class="btn btn-success"  
			             (click)="onloveIt(post)">Love it!
		              </button>
		              <button class="btn btn-danger" 
			             (click)="ondloveIt(post)">Don't love it!
		              </button>
                  </div>                      
                  &nbsp;&nbsp;
                  <div style="float:right">
                    <button style="color:darkred" class="btn-xs btn-default pull-right" (click)="onDeletePost(post)">X
                    <!--span class="glyphicon glyphicon-minus"></span-->
                    </button>
                  </div>
		          <!--p>{{ post.loveIts }}</p-->
		      </div>
            </li>
        </ul>
    </div>
    <br/>  
    <button class="btn btn-primary" (click)="onNewPost()">Ajouter Post</button>
  </div>
</div>


